<div id="<%= dom_id dream %>">
  <div class="card centered">
    <div class="card-body">
      <p>
        <strong>Title:</strong>
        <%= dream.title %>
      </p>

      <p>
        <strong>Nightmare:</strong>
        <%= dream.nightmare %>
      </p>

      <p>
      <strong>Notes:</strong>
      <%= dream.notes %>
      </p>

      <p>
      <strong>Created at:</strong>
      <%= dream.created_at %>
      </p>
    </div>
  </div>
</div>
