<p style="color: green"><%= notice %></p>

<h3>Welcome, <%= current_user.email %></h3>

<%= link_to "+ Add New", new_dream_path, class:"btn btn-primary add-new-button" %>

<div class="centered" id="dreams">

  <% @dreams.each do |dream| %>
    <%= render dream %>
    <%= link_to "Show Dream", dream, class:"btn btn-primary" %>

  <% end %>

    <%= paginate @dreams %>

</div>


